@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

body {
    background-color: #fafafa;
    font-family: "Poppins", sans-serif;
}


  .title button {
    height: 45px;
    border: none;
    color: #FFFFFF;
    background-color: #BB2525;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    transition: 0.3s;
    padding: 8px 16px 8px 16px;
    cursor: pointer;
  }

  .title button:hover{
    background-color: #822525;
   }


   .input-group input{
    height: 45px;
    border: none;
    padding: 10px;
    background-color: #eeeeee;
    color: gray;
    outline: none;
    font-size: 15px;
    margin-bottom: 20px;
    transition: .5s;
    border-radius: 5px;
   }

   .input-group button{
    height: 45px;
    border: none;
    color: #FFFFFF;
    background-color: #BB2525;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    transition: 0.3s;
   }

   button:hover{
    background-color: #822525;
   }

   #content-parent {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.tata-cara img {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

   @media screen and (max-width: 1120px){
    .input-group button{
        margin-left: 0;
        margin-bottom: 16px;
    }
  }
