@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

body {
    background-color: #fafafa;
    font-family: "Poppins", sans-serif;
}
/* Add a black background color to the top navigation */

  .title {
    margin-top: 24px;
    margin-bottom: 24px;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }

  .title button {
    height: 45px;
    border: none;
    color: #FFFFFF;
    background-color: #BB2525;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    transition: 0.3s;
    padding: 8px 16px 8px 16px;
    cursor: pointer;
  }

  .title button:hover{
    background-color: #822525;
   }

   .status {
    background-color: #B8CEF9;
    color: #002266;
    border-radius: 5px;
    padding: 8px 16px 8px 16px;
    position: relative;
   }

   .status-box {
    background-color: black;
    height: auto;
   }
