@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

body {
    background-color: #F1F5F9;
    font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 1000px){
    #kritik {
        order: 9999;
    }

    #topik {
        order: -9999;
        margin: 0;
    }
  }

  @media screen and (max-width: 800px){
    #mekanisme img {
        width: 70%;
    }
  }
