@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

body {
    background-color: #fafafa;
    font-family: "Poppins", sans-serif;
}
/* Add a black background color to the top navigation */

@media screen and (max-width: 1000px){
    #kritik {
        order: 9999;
    }

    #topik {
        order: -9999;
        margin: 0;
    }
  }

  @media screen and (max-width: 800px){
    #mekanisme img {

    }
  }
